<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HashCache"
        tools:targetApi="31">
        <activity
            android:name=".views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.AppHome"/>
        <activity android:name=".views.QRStats"/>
        <activity android:name=".views.MyProfile"/>
        <activity android:name=".views.Community"/>
        <activity android:name=".views.QRByLocation"/>
        <activity android:name=".views.Settings"/>
        <activity android:name=".views.QRScanActivity"/>
        <activity android:name=".views.LeaderboardScoreActivity"/>
        <activity android:name=".views.LeaderboardRegionActivity"/>
        <activity android:name=".views.LeaderboardNumQRActivity"/>
        <activity android:name=".views.LeaderboardTopQRActivity"/>
        <activity android:name=".views.NewMonsterActivity"/>
        <activity android:name=".views.DisplayMonsterActivity"/>
        <activity android:name=".views.EditPlayerInfoActivity"/>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider"
            tools:node="remove"
            />
    </application>


</manifest>